.nav.navbar-nav
{
    li a.active
    {
        color: $mainColor;
        transition: color ease-in-out 0.1s;
        -webkit-transition: color ease-in-out 0.1s;
    }
}

.navbar-brand
{
    & > i
    {
        color: $mainColor;
        transition: transform ease-in-out 0.1s;
        -webkit-transition: transform ease-in-out 0.1s;
    }

    &:hover > i
    {
        transform: scale(1.2);
    }
}